html, body { margin: 0; padding: 0; }
* { box-sizing: border-box; }

body {
  height: 100vh;
  background: #BA8C63;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-wrapper {
  width: 80%;
  height: 80%;
  padding-bottom: 1px;
  background: #D0312D;
  border-radius: 10px;
  box-shadow: 5px 5px 2px #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-wrapper {
  height: 74%; 
  width: 74%;
  background: #DBE4EB;
  border: 1px solid black;
  border-radius: 20px;
}

#controls-wrapper {
  width: 100%;
  height: 13%;
  padding: 0 2% ;
  position: absolute;
  bottom:   3px;
  display: flex;
  justify-content: space-between;
}

.dial {
  height: 96%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black; 
  background: #F2F3F4;
  box-shadow: 2px 2px 2px #000, 
        inset 3px -3px rgb(185, 185, 185);
}